body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  /*flex-flow: row wrap;*/
  margin: 0;
  padding: 0;
}

.box {
  background-color: red;
  height: 200px;
  width: 200px;
  margin: 10px;
}
.box:hover {
  background-color: blue;
}

.blue-box {
  background-color: blue;
}
